@charset "utf-8";
/* CSS Document */
.card-footer{
	background:#FFF;
}
.card-header{
	background:#FFF;
}
body{
	background:rgb(239,239,239);
}
nav{
	margin-bottom:20px;
	background-color:#0C6;
}
.navbar-toggler{
	/*background-color:#22F206;*/
}
#guide{
	color:#FFF;
}
#navbars .nav-link{
	color:#FFF;
}
.weixin_code{
	position: absolute;
	height: 150px;
	width: 150px;
	z-index: 4;
	display: none;
}
.weixin_code img{
	width: 100%;
	height: 100%;
}
/*轮播右侧*/
#courseRight{
	background:#E6E6E6;
	height:auto;
	text-align:center;
}
#courseRight p{
	font-size: 1em;
	display: block;
}
#btn_query{
	background-color:#0C3;
	border-radius:20px;
	border:0px;
	width:80%;
	height:15%;
}
#courseRight p small i{
	color:#F00;
}

.pd{
	display:block;
	padding-top:25px;
}
p{
	word-break:break-all;
	word-wrap:break-word;
}
a {
    color: #4C4C4C;
    text-decoration: none;
}
ul,li,ol{
	list-style-type:none;
}
/*专家列表*/
#dr-list{
	height:225px;
	overflow:hidden;
	width:653px;
	padding:0 15px 0 15px;
	display:block;
}
#dr-list li{
	float:left;
	width:93px;
	height:115px;
	display:block;
	overflow:hidden;
}
#dr-list a img {
	width:73px;
	height:73px;
	border-radius:100px;
	background:#eee;
	overflow:hidden;
}
#dr-list li a{
	text-align:center;
	display:block;
	padding:3px;
	color:#a7a7a7;
	font-size:12px;
	line-height:28px;
}
/*文章列表样式*/
.artlist{
	display:block;
	width:90%;
	clear:both;
}
.artlist .item{
	display:block;
	padding-top:1.2em;
	padding-left:1em;
	padding-right:.1em;
	width:45%;
	float:left;
}
.artlist .item .coverImg{
	display:block;
	width:37%;
	float:left;
}
.artlist .item .coverImg img {
    width: 97%;
    height: auto;
}

.artlist .item ul .tit {
    height: 3.0em;
    overflow: hidden;
	color: #000000;
}
.artlist .item ul .tit a {
    font-size: 0.9em;
    color: #414141;
	padding-top:0px;
}
.artlist .item ul li {
    display: block;
    padding-left: 0em;
}
.artlist .item ul .des {
    display: block;
}
.artlist .item ul .des i {
    font-style: normal;
    padding-right: 2em;
    color: #737373;
	font-size:0.6em;
}
.clear{
	clear:both
}
/*问答求助*/
#clistpublic {
    overflow: hidden;
    width: 70%;
    height: auto;
    padding: 0 30px .5em 20px;
    display: block;
	border:1px;
}
#clistpublic li {
    display: block;
    padding: .2em 0;
    border-bottom: dotted 1px #E2E2E2;
    color: #a7a7a7;
}
#clistpublic li span  .tit {
    display: block;
    width: /*490px*/80%;
    height: 1.3em;
    font-size: 1.0em;
    overflow: hidden;
    color:#000000;
    float: left;
}
#clistpublic li span i {
    color: #a7a7a7;
	width:20%;
    font-style: normal;
    font-family: 楷体;
    font-size: 12px;
    float: right;
    padding-left: 15px;
    padding-top: .5em;
}
#clistpublic li em {
    display: block;
    color: #a7a7a7;
    font-style: normal;
    font-family: 宋体;
    font-size: .8em;
    padding-top: 8px;
    width: auto;
    height: auto;
}
#clistpublic .more{
	text-align:center;
	border:none;
}
/*专家推荐右侧*/
#citydrList img{
	height:50px;
	width:50px;
	border-radius:100px;
}
#citydrList li{
	display:block;
}
.vectorBorder{
	display:block;
	border-left:solid 5px #00CC33;
	font-size: 1em;
}
/*回到顶部按钮*/
#btn_top{
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 54px;
	height: 54px;
	display:none;
	background-image: url(../img/TopBtn.png);
	background-repeat: no-repeat;
}
/*问答按钮*/
#btn_ask{
	position:fixed;
	bottom: 250px;
	right: 0px;
	width:23px;
	display: block;
	background-color: #53D946;
	border-radius: 5px;
	font-family: 楷体;
}
footer {
  background-color: #f5f5f5;
  border-radius: 20px;
}
